@{
    ViewBag.Title = "Спасибо за регистрацию!";
}
<div id="foobar">
    <div id="col1">
        <br />
    </div>
    <div id="col2">
        <div class="viewer">
            <div class="reel">
                <div class="slide">
                    <h2>
                        Добро пожаловать!</h2>
                    <p>
                        Благодарим вас за регистрацию!</p>
                    <p>
                        На email, указанный вами при регистрации было выслано письмо для акцивации аккаунта.</p>
                    <p>
                        Пожалуйста, проверьте почту</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="col3">
    <br />
</div>
