@model IEnumerable<RSS.Models.UserFeed>
@{
    ViewBag.Title = "Index";
}


<div id="foobar">
    <div id="col1">
        <a href="#" class="previous">&nbsp;</a></div>
    <div id="col2">
        <div class="viewer">
            <div class="reel">
                @foreach (System.Xml.Linq.XElement rss in ViewBag.Rss)
                {
                    <div class="slide">
                        @Html.Raw(rss.Element("description").Value)
                    </div>
                }
            </div>
        </div>
    </div>
    <div id="col3">
        <a href="#" class="next" id="54">&nbsp;</a></div>
</div>
@*<script type="text/javascript">
    $(".previous").click(function () {
        $.gritter.add({
            title: 'This is a notice!',
            text: 'This will fade out after a certain amount of time.'
        });
    });
    $(".next").click(function () {
        $.gritter.add({
            title: 'This is a notice!',
            text: 'This will fade out after a certain amount of time.'
        });
    });
</script>*@
<script type="text/javascript">
    $('#foobar').slidertron({
        viewerSelector: '.viewer',
        reelSelector: '.viewer .reel',
        slidesSelector: '.viewer .reel .slide',
        navPreviousSelector: '.previous',
        navNextSelector: '.next',
        navFirstSelector: '.first',
        navLastSelector: '.last'
    });		
</script>
